      <table class='table'>
        <tr>
          <td class='text-center font-weight-bold'><%= customer.name %></td>
        </tr>
        <tr>
          <td class='text-center font-weight-bold'><%= customer.kana_name %></td>
        </tr>
        <tr>
        <td><%= image_tag customer.get_profile_image, size:'100x100' %></td>
        </tr>
        <tr>
        <td class="text-center"><%= link_to "編集",edit_customer_path(customer.id), class: 'btn btn-success'%></td>
        </tr>
      </table>
