<div class="jumbotron" style="background: url(<%= asset_path "theater.jpg"%>)center; background-size:cover;">
  <div class="row  p-5">
    <div class="col-md-12">
      <div class="container col-5 p-4 text-center" style="background-color:rgba(255,255,255,0.9);">
        <h3 style="color:#000000;"><strong>ようこそ、ちゃるtheaterへ！</strong></h3><br />
        <p>
          観たいジャンルの映画を検索して見つけたり、<br />
          おすすめしたい映画を紹介する<br />
          映画情報共有サイト
        </p>
      </div>
    </div>
  </div>
</div>
