<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @theater %>
  <div class='row'>
    <div class='col-md-2'>
      <!--会員情報-->
      <%= render 'public/users/info', user: current_user %>
      <!--映画新規投稿-->
      <%= render 'public/theaters/form', theater: @theater %>
    </div>
    <div class='col-md-9 offset-md-1 mt-4'>
      <!--会員一覧-->
      <%= render 'public/users/index',users: @users %>
    </div>
  </div>
</div>
