<footer class="pt-3 bg-dark fixed-bottom">
   <div class="container">
     <div class='row'>
       <div class='mx-auto'>
         <p class="text-light text-center">映画情報共有サイト</p>
       </div>
     </div>
   </div>
</footer>